<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Welcome <%= user.username %>!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 sticky-top">
        <div class="card-columns" id="found-films">
            <% if (movies.FromDB) { %>
                <% movies.FromDB.forEach( function(movie){ %>
                    <div class="card border-secondary">
                            <a href="/movies?mvdb_id=<%= movie.id %>"><img class="card-img-top img-thumbnail" src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="Card image cap" style="width: 50%;height: 50%;"></a>
                            <div class="card-body">
                                <h6 class="card-title text-center"><%= movie.original_title %></h6>
                            </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div class="card-columns" id="favourite-films" hidden>

        </div>
    </div>
</div>