<% include partials/header.ejs %>
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-sm-2 min-vh-100 bg-dark">
            <% include partials/main-sidebar.ejs %>
        </div>
        <div class="col-sm-10 bg-light sticky-top">
            <% include partials/main-content.ejs %>
        </div>
    </div>
</div>
<% include partials/scripts.ejs %>
<% include partials/footer.ejs %>